@import "reset.css";
@import "menu-style.css";
@import "home-style.css";
@import "services-style.css";
@import "about-style.css";
@import "portfolio-style.css";
@import "contacts-style.css";
@import "modal.css";
@import "common.css";
@import "media.css";
@import "footer.css";

body {
    color: white;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
}

@font-face { 
  font-family: 'Lato'; 
  src: url('../fonts/Lato/Lato-Light.ttf');
  font-weight: 300;              
  font-style: light; 
} 

@font-face { 
  font-family: 'Lato'; 
  src: url('../fonts/Lato/Lato-Regular.ttf');
  font-weight: 400;              
  font-style: normal; 
} 
@font-face { 
  font-family: 'Lato'; 
  src: url('../fonts/Lato/Lato-Bold.ttf');
  font-weight: 700;             
  font-style: bold; 
} 

@font-face { 
  font-family: 'Lato'; 
  src: url('../fonts/Lato/Lato-Black.ttf');
  font-weight: 900;              
  font-style: black; 
} 

@font-face { 
  font-family: 'Damion'; 
  src: url('../fonts/Damion/Damion-Regular.ttf');
}